.layout{
    display:flex;
    height:100vh;
    overflow:hidden;
    background:#f5f7fb;
}

.main-content{
    flex:1;
    display:flex;
    flex-direction:column;
    height:100vh;
    min-width:0;
    overflow:hidden;
}

.page-content{
    flex:1;
    overflow-y:auto;
    overflow-x:hidden;
    padding:25px;
}