.stat-card{
    background:#ffffff;
    border-radius:15px;
    padding:20px;
    display:flex;
    align-items:center;
    gap:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    transition:.3s;
    cursor:pointer;
}

.stat-card:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 25px rgba(0,0,0,.12);
}

.card-icon{
    width:65px;
    height:65px;
    border-radius:15px;
    background:#0d6efd;
    display:flex;
    align-items:center;
    justify-content:center;
}

.card-icon i{
    color:white;
    font-size:28px;
}

.card-content{
    flex:1;
}

.card-content h6{
    color:#6c757d;
    margin:0;
    font-size:15px;
    font-weight:600;
}

.card-content h2{
    margin:8px 0;
    font-size:30px;
    font-weight:700;
    color:#212529;
}

.increase{
    color:#198754;
    font-size:14px;
    font-weight:600;
}